

{% extends 'base.html.twig' %}

{% block title %}Password{% endblock %}

{% form_theme form with['bootstrap_4_layout.html.twig', _self] %}

	{% block body %}
		<div class="container">
		<h1>Modification du mot de passe</h1>
		{{ form_start(form) }}

		{{ form_row(form.oldPassword, {'label':"Votre ancien mot de passe",'attr':{'placeholder':"Entrer votre ancien mot de passe", 'title': 'Password'}}) }}
		{{ form_row(form.newPassword, {'label':"Nouveau mot de passe", 'attr':{'placeholder':"Entrer votre nouveau mot de passe", 'title': 'newPassword'}}) }}
		{{ form_row(form.confirmPassword, {'label':"Corfirmer votre mot de passe",'attr':{'placeholder':" confirmer Votre mot de passe"}}) }}
		
		<button type="submit" class="btn btn-success">Modification du mot de passe</button>

		{{ form_end(form) }}

 

	{% endblock %}


